body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.display-none {
  display: none;
}

.info {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80vw;
  /*height: 100vh;*/
  margin: 0 auto;
  font-size: 24px;
}

.btn {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  font-size: 30px;
  background-color: #005082;
  color: white;
  text-decoration: none;
  padding: 20px;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 10px;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #000839;
  padding: 25px;
  margin-top: 5px;
}

#mobile-only {
  display: none;
}

@media screen and (max-width: 768px) {
  #mobile-only {
    display: block;
    font-size: 16px;
    color: red;
  }
}
